<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi deleniti magnam in error magni doloremque quod doloribus porro neque repellendus laboriosam quas ex, earum impedit praesentium. Consequatur, doloribus ipsa.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, voluptas hic. Consequatur, fuga nam iure minima obcaecati quam quis repudiandae?</p>
    <a href="https://www.youtube.com/watch?v=sticXkHxZC4" target="_blank" class="btn btn-primary">click for getting noided</a>
</div>