                <span style="position:fixed; bottom:10px; right:10px ;font-size:3em;" >
                <a href="/notes/add"  style="text-decoration: none;" class="fa fa-plus-circle boton">
               </a>
                </span>
