<h1 class="animate__bounceIn">Hola {{usuario.name}} todo bien?
</h1>
<img src="/img/homer_web_page/boca_90px1.gif" alt="boca boladora">
<br>
<img src="/img/homer_web_page/campana_60px1.gif" alt="boca boladora">
<img src="/img/homer_web_page/gusano_60px1.gif" alt="boca boladora">
<img src="/img/homer_web_page/jebusDance.gif" alt="boca boladora">
<img src="/img/homer_web_page/reloj_60px1.gif" alt="boca boladora">
<img src="/img/homer_web_page/tostadora_100px1.gif" alt="boca boladora">

